ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #000;
  background: rgb(242, 237, 238);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bayan {
  max-width: 80%;
  padding-top: 2rem;
}
.bayan__title {
  margin-bottom: 2.8rem;
  font-size: calc((1vw + 1vh) / 0.5);
}
.bayan__item {
  color: rgb(66, 7, 185);
}
.bayan__label {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: calc((1vw + 1vh) / 0.6);
  font-weight: bold;
  cursor: pointer;
  border-top: 0.12rem solid rgb(167, 160, 161);
  transition: color 0.4s ease;
}
.bayan:hover .bayan__label {
  color: #000;
}
.bayan__label span {
  display: flex;
  justify-content: space-between;
}
.bayan__label i {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.bayan:hover .bayan__label i {
  opacity: 1;
}
.bayan__input {
  appearance: none;
  display: block;
}
.bayan__label img {
  width: 0.01rem;
  height: 0;
  margin: 0 auto;
  transition: width 0.4s ease, height 0.4s ease;
}
.bayan__item:hover .bayan__label img {
  width: 70%;
  height: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bayan__item:hover .bayan__label span i {
  transform: rotate(-45deg);
}
.bayan__input:checked~ .bayan__label {
  color: #000;
}
.bayan__input:checked~ .bayan__label img {
  width: 70%;
  height: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bayan__input:checked~ .bayan__label span i {
  transform: rotate(-45deg);
}


@media screen and (min-width: 820px) {
  .bayan {
    max-width: 65%;
  }
}

@media screen and (min-width: 1920px) {
  .bayan {
    max-width: 50%;
  }
}