/* :root {
  
} */

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* .visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

body {
  min-width: 320px;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #000;
  background: rgb(242, 237, 238);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bayan {
  max-width: 80%;
}
.bayan__title {
  margin-bottom: 2.8rem;
  font-size: calc((1vw + 1vh) / 0.5);
}
.bayan__item {
  padding-top: 2.2rem;
  color: rgb(66, 7, 185);
  border-top: 0.12rem solid rgb(167, 160, 161);
  transition: color 0.3s ease;
}
.bayan:hover .bayan__item {
  color: #000;
}
.bayan__label {
  font-size: calc((1vw + 1vh) / 0.6);
  font-weight: bold;
}
.bayan__label span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.bayan__label i {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.bayan:hover .bayan__label i {
  opacity: 1;
}
.bayan__input {
  position: absolute;
  left: -999rem;
}
.bayan__label img {
  width: 1px;
  height: 1px;
  margin: 0 auto;
}
.bayan__input:checked~ .bayan__label {
  color: #000;
}
.bayan__input:checked~ .bayan__label img {
  width: 70%;
  height: auto;
  margin-bottom: 35px;
  transition: width 0.4s ease;
}

.bayan__input:checked~ .bayan__label span i {
  transform: rotate(-45deg);
}


@media screen and (min-width: 820px) {
  .bayan {
    max-width: 65%;
  }
}

@media screen and (min-width: 1920px) {
  .bayan {
    max-width: 50%;
  }
}